@import "tailwindcss";

:root {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --border-color: #e5e7eb;
  --text-main: #0f172a;
  --text-secondary: #64748b;
}

html,
body {
  background-color: var(--bg-main);
  color: var(--text-main);
}